<!DOCTYPE html>
<html>
  <head>
<%= render "layouts/head_content" %>
  </head>
  <body class="min-h-screen flex flex-col bg-gradient-to-b from-gray-50/60 to-white">
    <%= render "layouts/sidebar" %>
    <%= render "layouts/flash_messages" %>
    <main class="flex-1">
      <%= yield %>
    </main>
  </body>
</html>
