<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render "layouts/head_content" %>
  </head>
  <body class="h-full">
    <%= render "layouts/sidebar" %>
    <div class="lg:pl-72">
    <%= render "layouts/flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>